
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding:30px 50px;
    background: #fff;
}

.container {
    max-width: 100%;
} 

nav {
    padding: 0rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.logo img {
    height: 60px;
    width: auto;
    margin-right: auto;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navigation a{
    color: #4a5568; /* Gray-700 */
    font-weight: 600;
    margin-right: 1rem;
    text-decoration: none;
}

.navigation a:hover {
    color: #1a202c; /* Gray-900 */
    text-decoration: underline;
}

.main-content {
    text-align: center;
    padding-top: 150px; /* Adjust based on actual spacing */
}

.main-content h1 {
    font-size: 5rem;
    color: #000;
    margin: 100px;
}
.header-buttons a {
    padding: 1rem 2rem;
    margin-right: 3rem;
    border-radius: 50rem;
    text-decoration: none;
}
.btn-primary {
    background-color: #6d8dff;
    color: #fff;
    border: 2px solid #6d8dff;
}

.btn-outline {
    background-color: #3A506B;
    color: #fff;
    border: 2px solid #3A506B;
}

.back-arrow {
    font-size: 40px; /* Adjust size as needed */
    margin-top: 5px;
    display: inline-block;
    cursor: pointer;
}

.login-container {
    background: #fff;
    width: 600px;
    margin: 60px auto;
    padding: 20px;
    border: 3px solid #3A506B;
    position: center;
    border-radius: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: left;
    display: inline-block;
    font-size: 40px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 30px); /* considering padding */
    padding: 15px;
    background: #d3d3d3;
    border: #d3d3d3;
}

.form-actions {
    text-align: center;
    margin-top: 20px;
}

.form-actions button {
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.form-actions button[type="submit"] {
    background: #3A506B; 
    color: white;
}

.form-actions button[type="button"] {
    background: #6d8dff;
    color: #fff;
}

.forgot-password {
    display: inline-block;
    margin-top: 20px;
    color: #000;
    text-decoration:none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.profile-container {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    position: relative;
    margin-top: 80px;
  }

  .profile-card {
    width: 500px;
    text-align: center;
    margin: 20px;
}

  .profile-card img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

  .profile-card h2 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .header-content {
    text-align: center;
    padding: 20px 0;
  }
  .header-content img {
    max-width: 100%;
    height: auto;
  }

  .header-content h1 {
    font-size: 4rem; /* Large text for the header */
    color: #000;
    margin-top: -250px; /* Pull the title up over the image */
}

.booking {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: #ffffff;
    margin: 20px auto;
}

.date-picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown h3, .calendar h3 {
    font-size: 1rem;
    color: #000; /* Adjust to match your design */
    margin-bottom: 10px;
}

.dropdown button, .calendar button {
    padding: 5px 20px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}
.calendar .month {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
    background: #e9e9e9;
    border-radius: 20px;
}

.calendar td {
    padding: 10px;
    text-align: center;
}

.calendar .selected {
    background-color: #ff3b30; /* Adjust color for selected date */
    color: white;
    border-radius: 50%;
}

.appointment-section {
    background: #e9e9e9;
    margin-top: 20px;
    padding: 30px;
    border-radius: 30px;
  }


  .appointment-section h2 {
    margin: 0;
  }

  .appointment-list {
    list-style: none;
    padding: 0;
  }

  .appointment-list li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }